{% extends 'base.html.twig' %}

{% block content %}

  <ul id = "videos">

      {% for channel in channels %}
        <li id = "video">
        <div class="col s12 m12 l4">
            <div class="card transparent">
                <div class="card-image">
                    <img src="img/{{ channel.img }}">
                    <span class="card-title">{{ channel.title }}</span>
                </div>
                <div class="card-content">
                    <p>{{ channel.desc }}</p>
                </div>
                <div class="card-action grey">
                    <a class="black-text" href="video?id={{ channel.id }}">See the video</a>
                    <a class="white-text right" href="channel?idUser="{{ channel.idUser }}>@{{ channel.user }}</a>
                </div>
            </div>
        </div>
        </li>
      {% endfor %}

  </ul>

{% endblock %}
