{% extends 'base.html.twig' %}

{% block content %}

    <script>
        $(document).ready(function() {
            Materialize.showStaggeredList('#videos');
        });
    </script>

    <ul id="videos">

        {% set nbRows = (catalog|length/3)|round %}
        {% set i = 1 %}

        {% for j in 0..nbRows %}

            <li class="video">
                <div class="row">

                    {% for video in catalog[i-1:3] %}

                        <div class="col s12 m12 l4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../public/assets/img/miniatures/{{ video.minLink }}">
                                    <span class="card-title">{{ video.title }}</span>
                                </div>
                                <div class="card-content">
                                    <p>{{ video.description }}</p>
                                </div>
                                {% if user.id == video.userId %}
                                    <div class="card-action grey">
                                        <a class="black-text" href="video?id={{ video.id }}">Voir la vidéo</a>
                                        <a class="white-text right" href="channel?idUser="{{ video.userId }}>@{{ video.user }}</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                    {% endfor %}

                    {% set i = i+3 %}
                </div>
            </li>

        {% endfor %}

    </ul>

{% endblock %}