{% extends 'base.html.twig' %}

{% block content %}

    {% if success != false %}
        <div class="card-panel green accent-3">
            {{success}}
        </div>
    {% endif %}

    <div class="row" style="margin-top:2%">

        <div class="col s10 push-l1 card blue-grey darken-2 z-depth-5">

            <div class="center-align">
                <img src="assets/img/profil/{{ user.profilPicLink }}" alt="Photo de profil" class="circle responsive-img">
            </div>


            <div class="divider col s12" style="margin-top:20px"></div>
            <div class="divider col s12"></div>
            <div class="divider col s12"></div>
            <div class="divider col s12" style="margin-bottom:20px"></div>


            <div class="center-align"><h3>{{user.username}}</h3></div>

            <form action="account" method="post" class="col s12">

                <div class="input-field">
                    <input name="prenom" type="text" id="prenom" value="{{ user.first_name }}" autofocus autocomplete="off" required/>
                    <label for="prenom">Prénom</label>
                </div>

                <div class="input-field">
                    <input name="nom" type="text" id="nom" value="{{ user.last_name }}" autofocus autocomplete="off" required/>
                    <label for="nom">Nom</label>
                </div>

                <div class="input-field">
                    <input name="email" type="email" id="email" value="{{ user.email }}" autofocus autocomplete="off" required/>
                    <label for="email">Adresse e-mail</label>
                </div>

                <button class="btn waves-effect waves-light blue-grey darken-4 center-align" type="submit">Modifier les informations</button>

            </form>


            <div class="divider col s12" style="margin-top:20px"></div>
            <div class="divider col s12"></div>
            <div class="divider col s12"></div>
            <div class="divider col s12" style="margin-bottom:20px"></div>


            <form action="modifypassword" method="post" class="col s12">

                <div class="input-field">
                    <input name="actualPassword" type="password" id="actualPassword" autocomplete="off" required/>
                    <label for="actualPassword">Mot de passe actuel</label>
                </div>

                <div class="input-field">
                    <input name="newPassword" type="password" id="newPassword" autocomplete="off" required/>
                    <label for="newPassword">Nouveau mot de passe</label>
                </div>

                <div class="input-field">
                    <input name="newPasswordConfirm" type="password" id="newPasswordConfirmation" autocomplete="off" required/>
                    <label for="newPasswordConfirmation">Confirmation du nouveau mot de passe</label>
                </div>

                <button class="btn waves-effect blue-grey darken-4" type="submit">Modifier le mot de passe</button>

            </form>

            <div class="divider col s12" style="margin-top:20px"></div>

        </div>

    </div>

{% endblock %}
